input {
    focus-follows-mouse max-scroll-amount="0%"
    keyboard {
        xkb {
        }
    }
    mouse {
    }
    warp-mouse-to-focus
}

output "HDMI-A-1" {
    mode "1920x1080@60"
    transform "90"
    position x=0 y=0
}
output "DP-1" {
    mode "3440x1440@100"
    position x=1080 y=0
}

layout {
    gaps 16
    center-focused-column "never"
    preset-column-widths {
        proportion 0.20
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        left 20
        right 20
    }

    tab-indicator {
        hide-when-single-tab
        width 5
        gaps-between-tabs 5
        corner-radius 8
        active-color "red"
        inactive-color "#505050"
        position "top"
    }
}

spawn-at-startup "bash" "-c" "sleep 10 && waybar"
spawn-at-startup "discord"
spawn-at-startup "xrandr" "--output" "DP-1" "--primary"
spawn-at-startup "bash" "/home/viv/dotty_config/scripts/wallpaper.sh"
spawn-at-startup "xwayland-satellite"
environment {
    DISPLAY ":0"
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
}

window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T { spawn "bash" "/home/viv/dotty_config/scripts/open_terminal.sh"; }
    Mod+Q { close-window; }
    Mod+R { spawn "tofi-drun" "--fuzzy-match" "true" "--drun-launch" "true";}

    Mod+H     { focus-column-or-monitor-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-or-monitor-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+I              { focus-workspace-down; }
    Mod+U              { focus-workspace-up; }
    Mod+Ctrl+I         { move-column-to-workspace-down; }
    Mod+Ctrl+U         { move-column-to-workspace-up; }

    Mod+Shift+I         { move-workspace-down; }
    Mod+Shift+U         { move-workspace-up; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+S { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }


    Mod+Shift+S { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

prefer-no-csd
